<div class="container bg-class">
  <div class="row">
    <div class="col-sm-3">
      <h3>ABOUT</h3>
      <h2>A Platform Model for a Platform World</h2>
    </div>    
    <div class="col-sm-3 mg-top-50">
      <p><b>We live in a platform world.</b></p>
      <p class="text-justify">The market now demands a fully digital enterprise – where digital is “at the core” rather than an “extension” or “bolt-on”. This requires companies to reinvent key business activities that taken together create a new Platform for the business that changes the basis of competition and leads to step change improvements in performance.</p>
    </div>
    <div class="col-sm-5 mg-top-50">
      <p><b>Our answer is a platform model.</b></p>
      <p class="text-justify">Publicis.Sapient is purpose designed to address today’s digital business transformation imperative, with a core belief that success comes at the intersection of company and customer. We are pioneering a new way of working with clients, driven by a connected group of deep specialists and enabled by a specifically designed culture to foster platform behaviors – open, configurable, quick.</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="container mg-top-50">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb1.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Transformation Imperative</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb4.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Digital extension to core</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/PS_SpanningStrategy_8_Thumb_594x606.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Business Activity</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb7.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Platform building</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb9.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/PS_Fusing2Paths_5_Thumb_594x606.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb5.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb3.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
<footer></footer>