<div class="container bg-class">
  <div class="row">
    <div class="col-sm-3">
      <h3>IDEAS</h3>
      <h2 class="h2-bold">Making <br />Connections</h2>
    </div>
    <div class="col-sm-9"></div>
  </div>
</div>

<div class="container mg-top-50">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb1.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Transformation Imperative</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/about-thumb4.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Digital extension to core</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top w_100" src="http://assets.publicis.sapient.com/content/dam/publicis-sapient/images/about/landing/PS_SpanningStrategy_8_Thumb_594x606.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Business Activity</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
<footer></footer>