<div class="container bg-class">
  <div class="row">
    <div class="col-sm-3">
      <h3>CASES</h3>
      <h2 class="h2-bold">Transforming <br />Business</h2>
    </div>
    <div class="col-sm-9"></div>
  </div>
</div>

<div class="container mg-top-50">
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
    <div class="well">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur, maiores dolore officia commodi, laborum veniam officiis assumenda dolorum, explicabo inventore, doloribus harum illum perspiciatis laboriosam consequuntur blanditiis iste rem.
    </div>
</div>

<hr />
<footer></footer>