
<div class="jumbotron">
      <div class="container">
        <h1>{{title}}</h1>
        <p>This is a simple demo created to demostrate my short term goal setup for <b>Angular2</b>. Looking forward to enhance my capabilities in this technolgy.</p>
        <p class="text-danger">Logo and text belongs to publicis.sapient and the site is for educational purposes only</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rapidly changing customer</h2>
          <p>Rapidly changing customer expectations (e.g. anytime, anywhere, mobile device empowered) and behavior (e.g. shifting media consumption, explosion of user generated content) have created challenges and opportunities for every business to more meaningfully engage its customers and anticipate their needs</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Ongoing advances in technology</h2>
          <p>Ongoing advances in technology are enabling new value creation often by connecting previously separate activities – marketing, sales, service, supply chain – while also continuing to streamline efficiency through the use of more open source technologies and more agile development methods</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-md-4">
          <h2>Emergence of nontraditional competitors</h2>
          <p>The emergence of nontraditional competitors utilizing new bases of competition (e.g. smart, connected products & open ecosystems) is threatening existing participants and highlighting the need for an enterprise-wide rethink </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>

      <div class="alert alert-success" role="alert">  
        <p>Need for transformation comes at a time when many businesses have been challenged – operating in a long term, low growth environment where investments in innovation have been starved, Cap Ex & Op Ex is under pressure and where capital returns have been maximized by returning money to shareholders via stock repurchase or dividends.</p>
        <p class="mb-0">Welcome to a new business reality where little feels comfortable or familiar, and promises to be even less so moments from now.</p>
       </div>

      <hr>

      <footer></footer>